################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Destinationboard/obj
/.vs/Destinationboard/v16
/Destinationboard/bin/Debug/net5.0-windows
/.vs/Destinationboard/DesignTimeBuild
