<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <!-- コンソールを使用するAppenderの例 -->
    <appender name="LogToConsole" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%t] %p - %m%n"/>
      </layout>
    </appender>

    <root>
      <!-- 警告以上のログを出力したい場合 -->
      <level value="Warn" />
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="LogToConsole" />
    </root>
  </log4net>
</configuration>